<h1>Editing <%= @user.name %>'s Profile</h1>


<%= form_tag(user_url(@user), method: 'put') do %>

  <div>
    <%= label_tag :username %><br />
    <%= text_field_tag :username, @user.username %>
  </div>

<div class="nav nav-pills pull-middle">
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @user.name %>
  </div>

  <div>
    <%= label_tag :interests %><br />
    <%= text_field_tag :interests, @user.interests %>
  </div>

   <div>
    <%= label_tag :about_me %><br />
    <%= text_area_tag :about_me, @user.about_me %>
  </div>

  <div>
    <%= submit_tag "Update User" %>
  </div>



<% end %>
x