<h1> New Edopter </h1>


<%= form_tag(users_url, method: 'post') do %>



<div>
    <%= label_tag :username %><br />
    <%= text_field_tag :username %>
  </div>


    <div>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

<div class="nav nav-pills pull-middle">
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :interests %><br />
    <%= text_field_tag :interests %>
  </div>

   <div>
    <%= label_tag :about_me %><br />
    <%= text_area_tag :about_me %>
  </div>


  <div>
    <%= submit_tag "Start Edopting!" %>
  </div>
<% end %>
