<h1> <%= @user.username %>'s profile </h1>

<div>
<p class="nav nav-pills pull-right">
<%= link_to "Fine Tune", edit_user_url(@user), class: "btn btn-warning"  %>
</p>
</div>
 <div>
      <ul class="nav nav-pills pull-right">        
      
      <li><%= link_to "Edopters", users_url %> </li> 
       
       
      <li><%= link_to "Startups", companies_url %> </li> 
        
      </ul>

  </div>

 <div class="container span5 offset4 profile_name">
      <h3>Contact</h3>
      <p><a href="#">Email Address</a></p>
      <p><a href="#">Social Media Link</a></p>
      <h3>Interests/Likes</h3>
      <p>Interest/Like 1</p>
      <p>Interest/Like 2</p>
      <p>Interest/Like 3</p>
    </div>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>  

<p>
  <b>About Me</b>
  <%= @user.about_me %>
</p>

<p>
  <b>Interests</b>
  <%= @user.interests %>
</p>

  <div class="container span5 offset4 profile">
      <p>
        <img src="#">
      </p>
      <!-- Place to hold the gravatar profile -->
      <h2>
        Full name
        <!-- Full Name -->
      </h2>
    </div>
    <div class="container span5 offset4 profile_name">
      <h3>Contact</h3>
      <p><a href="#">Email Address</a></p>
      <p><a href="#">Social Media Link</a></p>
      <h3>Interests/Likes</h3>
      <p>Interest/Like 1</p>
      <p>Interest/Like 2</p>
      <p>Interest/Like 3</p>
    </div>
  </body>
