<h1>Event #<%= @event.id %></h1>

<p>
  <b>Users:</b>
  <%= @event.user_id.try.all %>
</p>

<p>
  <b>Company:</b>
  <%= @event.company_id %>
</p>

<p>
  <b>Event name:</b>
  <%= @event.event_name %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Event description:</b>
  <%= @event.event_description %>
</p>


