<h1>Editing Company #<%= @company.id %></h1>


<%= form_tag(company_url(@company), method: 'put') do %>

  <div>
    <%= label_tag :company_name %><br />
    <%= text_field_tag :company_name, @company.company_name %>
  </div>

  <div>
    <%= label_tag :company_email %><br />
    <%= text_field_tag :company_email, @company.company_email %>
  </div>

  <div>
    <%= label_tag :user_id %><br />
    <%= number_field_tag :user_id, @company.user_id %>
  </div>

  <div>
    <%= label_tag :event_id %><br />
    <%= number_field_tag :event_id, @company.event_id %>
  </div>

  
  <div>
    <%= submit_tag "Update Company" %>
  </div>

<% end %>
