<h1>Startups</h1>

<p><%= link_to 'Add a Startup', new_company_url %></p>

<table>
  <thead>
    <tr>
      <th>Startup name</th>
      <th>Company email</th>
      <th>User</th>
      <th>Events</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.company_name %></td>
      <td><%= company.company_email %></td>
      <td><%= company.user_id %></td>
      <td><%= company.event_id %></td>
  
      <td><%= link_to 'Show', company_url(company) %></td>
      <td><%= link_to 'Edit', edit_company_url(company) %></td>
      <td><%= link_to 'Destroy', company_url(company), method: 'delete', data: { confirm: "Do you really want to delete this company?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

