<h1>Create Startup Profile</h1>


  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

<%= form_tag(companies_url, method: 'post') do %>


  <div>
    <%= label_tag :company_name %><br />
    <%= text_field_tag :company_name %>
  </div>

    <div>
    <%= label_tag :company_email %><br />
    <%= text_field_tag :company_email %>
  </div>

  
  <div>
    <%= submit_tag "Create Company" %>
  </div>
<% end %>

