<h1>Company #<%= @company.id %></h1>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Company email:</b>
  <%= @company.company_email %>
</p>

<p>
  <b>User:</b>
  <%= @company.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @company.event_id %>
</p>


