<!DOCTYPE html>
<html>
<head>
  <title>Edopter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<nav>
		<ul class="nav nav-pills pull-right">
			<li><%= link_to "Home", home_url  %> </li>
			<li> <a href="#">Sign In</a> </li>
 			<li> <a href="#">Sign Up</a> </li> 
			<li><%= link_to "Edopters", users_url %> </li>
			<li><%= link_to "Events", events_url %> </li>
			<li><%= link_to "Startups", companies_url %> </li> 
		</ul>
	</nav>	

<%= yield %>

</body>
</html>
